.hero {
  padding-bottom: 9.2rem;
}
.hero__title {
  font-size: rem(36);
  margin-bottom: 1.45rem;
  line-height: initial;
}
.hero__desc {
  font-family: var(--ff-em);
  font-size: rem(24);
  margin-bottom: 3.1375rem;
}

.hero-gallery {
  position: relative;
  border: rem(10) solid #F6F6F6;
  border-radius: rem(20);
  width: #{'calc(100% + calc(0.625rem * 2))'};
  margin-left: -0.625rem;
}
.hero-gallery__pic {
  display: block;
  background-color: #f6f6f6;
}
.hero-gallery__img {
  display: block;
  border-radius: rem(20);
}
.hero-gallery__circle {
  position: absolute;
  top: rem(-88);
  right: rem(173);
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(176);
  height: rem(176);
  text-align: center;
  border-radius: 50%;
  color: var(--c-text-on);
  font-size: rem(14);
  background: var(--c-accent);
  border: rem(7) solid #f6f6f6;
}
.hero-gallery__circle:before {
  content: "";
  display: block;
  width: rem(154);
  height: rem(154);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: rem(5) solid var(--c-text-on);
  border-radius: 50%;
}

.hero-gallery__shield {
  position: absolute;
  bottom: rem(-36);
  left: 0;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--c-text-on);
  padding: rem(18) rem(45);
  border-radius: rem(10);
}
.hero-gallery__shield::before,
.hero-gallery__shield::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: rem(10);
}
.hero-gallery__shield::before {
  background-color: #F6F6F6;
  width: #{'calc(100% + 1.5rem)'};
  top: rem(-12);
  left: rem(-12);
  border-radius: rem(20) rem(20) 0 rem(20);
  height: 85%;
}
.hero-gallery__shield::after {
  background-color: var(--c-accent);
}
.hero-gallery__icon {
  --size: 3.25rem;
  width: var(--size);
  max-width: var(--size);
  height: var(--size);
  display: block;
  margin-right: rem(20);
}
