.shifter__card {
	display: grid;
	grid-template-columns: auto 27.27920227920228%;
	background: var(--c-text-regular);
	color: var(--c-text-on);
	padding: 4.5rem;
	border-radius: 4px;
}
.shifter__quote {
	font-family: var(--ff-title);
	font-size: 2rem;
	line-height: 1.4;
}
.shifter__quote::before {
	content: '';
	display: block;
	width: 1.75rem;
	height: 1.25rem;
	margin-bottom: 2.875rem;
	@include getmask("../img/common/quote.svg");
	background-color: var(--c-text-on);
}
