.why__desc {
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom: 3rem;
}
.why__content {
	display: grid;
	grid-template-columns: 31.782945736434108% auto;
	column-gap: 2.25rem;
	margin-bottom: 2.8rem;
}

.why__img {
	object-fit: cover;
}
