.input {
  --text-color: #77828F;
  --label-color: var(--bg-element);
  --border-color: #DDE0E3;
  --input-bg: #fff;
  --border-radius: 4px;
  --fz: 0.75rem; //12
  --lh: 1;
  --padding: 1.1875rem 1.5rem 1.125rem;//19 24 18
  position: relative;
  display: block;
  width: 100%;
  font-family: var(--ff-title);
  font-weight: 600;
  // margin-bottom: 0.66em;//8px;
}
.input__field {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: var(--padding);
  font-size: var(--fz);
  line-height: var(--lh);
  background-color: var(--input-bg);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  transition: all 0.3s ease;

  color: var(--text-color);
  text-transform: uppercase;
}
.input__field::placeholder {
  color: var(--c-text-regular);
}

/*
.input:last-of-type {
  margin-bottom: 0;
}
.input--invalid {
  --label-color: var(--c-error);
  --message-transform: scale(1);
  --message-color: var(--c-error);
  --message-offset: 9px;
  // --border-color: var(--c-error);
  --error-icon-transform: scale(1);
}


.input__icon {
  position: absolute;
  top: 27px;
  left: 38px;
  z-index: 3;
  display: block;
  width: 18px;
  height: 18px;
  @media (max-width: 768px) {
    top: 18px;
    left: 24px;
    width: 14px;
    height: 14px;
  }
}
.input__error-icon {
  display: block;
  width: 1.25rem;//20px;
  height: 1.25rem;//20px;
  position: absolute;
  top: 0.6875rem;//11px;
  right: 0.6875rem;
  z-index: 2;
  transform: var(--error-icon-transform);
  transition: all 0.45s ease;
}

.input__message {
  z-index: 1;
  min-height: 1.2em;
  margin-top: var(--message-offset);
  transition: all 0.3s ease;
  transform: var(--message-transform);
  transform-origin: top;
  font-weight: 400;
  font-size: 0.75rem;//12px;
  line-height: 1.1666666666666667;//14px;
  color: #FFFFFF;
  background: #A1AEB3;
  border-radius: var(--brad-regular);
  padding: 0.4166666666666667em 0.8333333333333334em 0.6666666666666666em;//5px 10px 8px;
  display: inline-block;
}
*/

