/*
  Секции
 */
.section {
  padding-top: 7.5rem; //120
  padding-bottom: 7.5rem; //120
  @media (max-width: $w-burger) {
    padding-top: 4.285714285714286rem; //60
    padding-bottom: 4.285714285714286rem; //60
  }
}
.section-title {
  font-weight: 600;
  font-size: 2rem;//rem(32);
  margin-bottom: 3.75rem;//rem(60);
  @media (max-width: $w-mobile) {
    font-size: 1.2857142857142858rem;
    margin-bottom: 5.142857142857143rem;
  }
}
.section-desc {
}
.section-text--color {
  color: var(--c-accent);
}
.section-text--em {
  font-style: italic;
}
.section-text--bold {
  font-weight: 600;
}

.section-text--center {
  text-align: center;
}
.section-text--right {
  text-align: right;
}

