.socials {
  display: flex;
  align-items: center;
}

.socials__link {
  --size: 2.5rem; //40
  display: block;
  width: var(--size);
  min-width: var(--size);
  max-width: var(--size);
  height: var(--size);
  min-height: var(--size);
  max-height: var(--size);
  transition: var(--tr);
  margin-right: 1.25rem;
  transition: var(--tr-regular);
}
.socials__link:last-child {
  margin-right: 0;
}
.socials__link:hover {
  @media (any-hover:hover) {
    transform: scale(1.1);
  }
}
