@import "./components/controls/buttons";
@import "./components/controls/input";
@import "./components/controls/input-attach";
@import "./components/controls/textarea";

@import "./components/universal/burger";
@import "./components/universal/section";
@import "./components/universal/socials";
@import "./components/universal/poppa";
@import "./components/universal/poppa-theme";
@import "./components/universal/modal";
@import "./components/universal/starpicker";
@import "./components/universal/snacky";
@import "./components/universal/wysiwyg";

@import "./components/vertical-strings";

@import "./components/platforms";
@import "./components/megachips";
@import "./components/comparer";
