/* stylelint-disable no-invalid-position-at-import-rule */
@use "sass:math";

/*
  Библиотеки
 */ 
@import "./libs/aos";
@import "./libs/swiper";
@import "./libs/fancybox";
@import "./b_libs/bayan";
@import "./libs/intlTelInput";
@import "./libs/juxtapose";

/*
  Сброс CSS
 */ 
@import "./reset";

/*
  Базовые стили, шаблоны, заготовки
 */ 
@import "./variables";
@import "./base";
@import "./mixins";

/*
  Шрифты
 */ 
@include font(
  "Inter",
  italic,
  300,
  "../resources/fonts/inter/inter-lightitalic"
);
@include font(
  "Inter",
  normal,
  300,
  "../resources/fonts/inter/inter-light"
);
@include font(
  "Inter",
  normal,
  400,
  "../resources/fonts/inter/inter-regular"
);
@include font(
  "Inter",
  normal,
  500,
  "../resources/fonts/inter/inter-medium"
);
@include font(
  "Inter",
  italic,
  500,
  "../resources/fonts/inter/inter-mediumitalic"
);
@include font(
  "Inter",
  normal,
  600,
  "../resources/fonts/inter/inter-semibold"
);
@include font(
  "Inter",
  italic,
  600,
  "../resources/fonts/inter/inter-semibolditalic"
);
@include font(
  "TexGyreChorus",
  normal,
  400,
  "../resources/fonts/texgyrechorus/texgyrechorus-mediumitalic"
);



html {
  // scrollbar-color: #000 transparent;
  // scrollbar-width: thin;
  // font-size: 16px;
  // font-size: calc(var(--index) * 0.54795);
  // font-size: 0.833333vw; //1920 16px
  font-size: #{'calc(var(--index) * 0.547945)'}; // 1920 — 16px
  @media (max-width: $desktop-l) {
    font-size: #{'calc(var(--index) * 0.759735)'}; // 1920 — 16px
  }
  @media (max-width: 1500px) {
    font-size: 1.11111vw; //1440 16px
  }
  // @media (max-width: 1300px) {
  //   font-size: 1.0938vw; //1300 14px
  // }
  @media (max-width: $tablet) {
    font-size: #{'calc(var(--index) * 1.2963)'}; // 1920 — 16px
  }
  @media (max-width: 320px) {
    font-size: #{'calc(var(--index) * 1.37255)'}; // 1920 — 16px
  }
}
body {
  font-family: var(--ff-regular);
  font-weight: 400;
  line-height: 1.16;
  // letter-spacing: -0.5px;
  
  // font-size: #{'calc(var(--index) * 0.547945)'}; // 1920 — 16px
  color: var(--c-text-regular);
  background-color: var(--bg-app);
}
body._lock {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  // overflow: hidden;
}
.wrapper > .content {
  position: relative;
  z-index: 1;
  flex: 1 0 auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: var(--w-container);
}
.container-tight {
  max-width: #{'calc(var(--w-container) - 101px)'};
  margin-left: auto;
  margin-right: auto;
  @media (max-width: $w-mobile) and (min-width: $mobile-l) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media (max-width: $w-burger) {
    max-width: #{'calc(var(--w-container) - 60px)'};
  }
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
  opacity: 0;
}


/*
  Общие стили проекта
 */ 
@import "./components";

/*
  Карточки
 */ 
// @import "./components/cards/";

/*
  Модальные окна
 */ 
// @import "./components/modals/";


/*
  Секции
 */ 
@import "./sections";

/*
  Стили для отдельных страниц
 */ 
// @import "./pages/";
