// ================ Responsive Start ================
$min-width: 320px;
$max-width: 1920px;
$max-width-container: 1170px;
// $container-width: $max-width-container + $container-padding;

$laptop-l: 1500px;
$laptop: 1100px;
$tablet: 800px;
$mobile-l: 450px;
$mobile-m: 390px;
$mobile-s: 330px;

:root {
  --index: #{"calc(1vw + 1vh)"};
  --tr: 0.3s;
  --tr-regular: all var(--tr) ease;

  // Colors
  --c-text-regular: #2B3B50;
  --c-text-secondary: #77828F;

  // BGs
  --bg-element: #fff;
  --bg-app: #fff;

  // Fonts
  --ff-regular: "Inter", sans-serif;
  --ff-title: "TTProstoSans", sans-serif;

  // Widths
  --w-container: 1186px;
  @media (min-width: 1800px) {
    --w-container: 1580px;
  }
  @media (min-width: 2000px) {
    --w-container: 2090px;
  }
  @media (max-width: 1280px) {
    --w-container: calc(100% - 16px);
  }
  @media (max-width: 768px) {
    --w-container: 100%;
  }
}
